{% extends 'base.html' %}
{% load static %}

{% block content %}
	
	<div class="limiter">
        <div class="topnav">
			<a href="{% url 'accounts:logout' %}">Logout</a>
			<p>{{user.username}}</p>
		  </div> 
		<div class="container-login100" id="bg">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">
					{% csrf_token %}

                    <div>
						<input class="input100" type="hidden" name="user" value="{{user.id}}">
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="title" placeholder="Title">
						
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Create Task
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>

{% endblock %}