{% extends 'base.html' %}
{% load static %}

{% block content %}
	
	<div class="limiter">
		<div class="container-login100" id="bg">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">
					{% csrf_token %}

					<div>
						<input  type="hidden" name="user" value="{{user.user}}">
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="title" placeholder="Title">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Create Task
						</button>
					</div>
				</form>
			</div>
			<div class="wrap-login100">
                {% for task in tasks %}
				<div class="task">
					<div class="dropdown" style="float:right;">
						<button class="dropbtn"><i class="arrow down"></i></button>
						<div class="dropdown-content">
						  <a class="dc" href="#">Done</a>
						  <a class="dc" href="#">Edit</a>
						</div>
					</div>
					{{task.title}}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	

{% endblock %}